.contact-us-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.contact-us-header {
  top: 0px;
  left: 129px;
  width: 1662px;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contact-us-bg {
  top: -1px;
  width: 1662px;
  height: 85px;
  position: absolute;
  border-radius: 13px;
}
.contact-us-contactbt {
  top: 16px;
  left: 1196px;
  width: 210px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: #efb1ff;
  border-width: 4px;
  border-radius: 44px;
  background-color: rgba(239, 177, 255, 0.43);
}
.contact-us-text {
  top: 7px;
  left: 27px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Book;
  text-align: left;
  font-family: Stolzl;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-us-navlink {
  display: contents;
}
.contact-us-devbt {
  top: 15px;
  left: 916px;
  width: 210px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 44px;
  text-decoration: none;
  background-color: #742dd2;
}
.contact-us-text01 {
  top: 13px;
  left: 31px;
  color: rgb(255, 255, 255);
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: Book;
  text-align: left;
  font-family: Stolzl;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-us-navlink1 {
  display: contents;
}
.contact-us-logo1 {
  top: 5px;
  left: 240px;
  width: 123px;
  height: 74px;
  position: absolute;
  text-decoration: none;
}
.contact-us-navlink2 {
  display: contents;
}
.contact-us-playbt {
  top: 15px;
  left: 598px;
  width: 248px;
  height: 54px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 44px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(239, 177, 255, 1);
}

.contact-us-text02 {
  top: 10px;
  left: 97px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Book;
  text-align: left;
  font-family: Stolzl;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-us-raccoonwithheadphones1 {
  right: 101px;
  width: 679px;
  bottom: 97px;
  height: 679px;
  position: absolute;
  border-radius: 128px;
}
.contact-us-text05 {
  top: 424px;
  left: 190px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Lora;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-us-text11 {
  top: 617px;
  left: 190px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Lora;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-us-bg1 {
  top: 110px;
  left: 142px;
  color: rgb(72, 19, 128);
  height: auto;
  position: absolute;
  font-size: 120px;
  font-style: italic;
  text-align: left;
  font-family: Acari Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-us-text20 {
  top: 114px;
  left: 135px;
  color: rgb(239, 177, 255);
  height: auto;
  position: absolute;
  font-size: 120px;
  font-style: italic;
  text-align: left;
  font-family: Acari Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
