.developers-container {
  width: 100%;
  display: flex;
  min-height: 125vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.developers-header {
  top: 0px;
  left: 129px;
  width: 1662px;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.developers-bg {
  top: -1px;
  width: 1662px;
  height: 85px;
  position: absolute;
  border-radius: 13px;
}
.developers-navlink {
  display: contents;
}
.developers-contactbt {
  top: 16px;
  left: 1196px;
  width: 210px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 44px;
  text-decoration: none;
  background-color: rgba(116, 45, 210, 1);
}
.developers-text {
  top: 12px;
  left: 31px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Book;
  text-align: left;
  font-family: Stolzl;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.developers-devbt {
  top: 15px;
  left: 916px;
  width: 210px;
  height: 54px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: #efb1ff;
  border-width: 4px;
  border-radius: 44px;
  background-color: rgba(239, 177, 255, 0.43);
}
.developers-text02 {
  top: 7px;
  left: 32px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Book;
  text-align: left;
  font-family: Stolzl;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.developers-navlink1 {
  display: contents;
}
.developers-logo1 {
  top: 5px;
  left: 240px;
  width: 123px;
  height: 74px;
  position: absolute;
  text-decoration: none;
}
.developers-navlink2 {
  display: contents;
}
.developers-playbt {
  top: 15px;
  left: 598px;
  width: 248px;
  height: 54px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 44px;
  text-decoration: none;
  background-color: rgba(239, 177, 255, 1);
}

.developers-text04 {
  top: 13px;
  left: 95px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Book;
  text-align: left;
  font-family: Stolzl;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.developers-text05 {
  top: 200px;
  left: 350px;
  color: rgba(239, 177, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Lora;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  max-width: 1500px;
}
.developers-text05 ul {
  list-style-type: disc;
}

.developers-text05 li {
  margin-bottom: 75px; /* Устанавливаем отступ в 30 пикселей между элементами списка */
}

.developers-team {
  gap: 67px;
  width: 191px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.developers-raccoonceo {
  left: -731px;
  width: 146px;
  bottom: -445px;
  height: 146px;
  position: absolute;
  align-self: stretch;
  border-radius: 44px;
}
.developers-raccoongirlprogrammer {
  left: -729px;
  width: 146px;
  bottom: -627px;
  height: 146px;
  position: absolute;
  align-self: stretch;
  border-radius: 44px;
}
.developers-raccoondesigner1 {
  left: -731px;
  width: 146px;
  bottom: -266px;
  height: 146px;
  position: absolute;
  align-self: stretch;
  border-radius: 44px;
}
.developers-text21 {
  left: 188px;
  color: rgba(255, 255, 255, 1);
  bottom: -175px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Book;
  text-align: left;
  font-family: Stolzl;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.developers-racconsinteamsvg {
  right: 21px;
  width: 495px;
  bottom: -175px;
  height: 495px;
  position: absolute;
  align-self: center;
  border-radius: 81px;
}
